AI_PROVIDER=dashscope
AI_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
AI_API_KEY=
AI_ANALYSIS_MODEL=qwen-flash
AI_REPORT_MODEL=qwen-plus
AI_ANALYSIS_TIMEOUT_MS=30000
AI_REPORT_TIMEOUT_MS=45000
DEBUG_REPORT_PARSER=false
SPEECHMATICS_API_KEY=
SPEECHMATICS_RT_URL=wss://eu2.rt.speechmatics.com/v2
SPEECHMATICS_RT_LANGUAGE=yue
SPEECHMATICS_RT_MAX_DELAY=0.7
SPEECHMATICS_RT_TTL_SECONDS=60
